# Linear Regression: This model is used for numerical values (in which one or more numerical values is indepented while one value should be depended )

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
coin = pd.read_csv("C:\\Users\\Asif Saeed\\crypto.csv",encoding = "ISO-8859-1",low_memory=False)

In [4]:
coin.head()

  Currency          Date  Open  High   Low Close      Volume   Market Cap
0    tezos  Dec 04, 2019  1.29  1.32  1.25  1.25  46,048,752  824,588,509
1    tezos  Dec 03, 2019  1.24  1.32  1.21  1.29  41,462,224  853,213,342
2    tezos  Dec 02, 2019  1.25  1.26  1.20  1.24  27,574,097  817,872,179
3    tezos  Dec 01, 2019  1.33  1.34  1.25  1.25  24,127,567  828,296,390
4    tezos  Nov 30, 2019  1.31  1.37  1.31  1.33  28,706,667  879,181,680

In [5]:
x = coin[["Open"]]

In [6]:
y = coin[["High"]]

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
x = x.apply(pd.to_numeric, errors='coerce')
y = y.apply(pd.to_numeric, errors='coerce')

In [9]:
x.fillna(0, inplace=True)
y.fillna(0, inplace=True)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [12]:
lr = LinearRegression()

In [13]:
lr.fit(x_train,y_train)

LinearRegression()

In [14]:
y_pre = lr.predict(x_test)

In [15]:
y_test.head() # Actual Values

             High
9228   599.460000
4508    16.370000
14511  277.120000
5711    41.750000
56       0.957093

In [16]:
y_pre[0:5] # Model Predicted Values

array([[586.83736348],
       [ 16.76441687],
       [257.42398373],
       [ 42.03110825],
       [  2.45980623]])

In [17]:
from sklearn.metrics import mean_squared_error #Now check the difference between Actual values and predicted values which is called Residual

In [24]:
mse = mean_squared_error(y_test,y_pre)

1336.1320757569551

In [26]:
print(mse)

1336.1320757569551

In [27]:
import math

In [28]:
rmse = math.sqrt(mse)

In [29]:
print(rmse)

36.55314043631484

In [31]:
coin.head()

  Currency          Date  Open  High   Low Close      Volume   Market Cap
0    tezos  Dec 04, 2019  1.29  1.32  1.25  1.25  46,048,752  824,588,509
1    tezos  Dec 03, 2019  1.24  1.32  1.21  1.29  41,462,224  853,213,342
2    tezos  Dec 02, 2019  1.25  1.26  1.20  1.24  27,574,097  817,872,179
3    tezos  Dec 01, 2019  1.33  1.34  1.25  1.25  24,127,567  828,296,390
4    tezos  Nov 30, 2019  1.31  1.37  1.31  1.33  28,706,667  879,181,680

# Now changing indepent variable i.e Y = f(x) change x

In [32]:
x = coin[["Close"]]

In [33]:
y = coin[["High"]]

In [ ]:
x = x.apply(pd.to_numeric, errors='coerce')
y = y.apply(pd.to_numeric, errors='coerce')

In [50]:
x.fillna(0, inplace=True)
y.fillna(0, inplace=True)

In [51]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [52]:
lr2 = LinearRegression()

In [53]:
lr2.fit(x_train,y_train)

LinearRegression()

In [56]:
y_pre2 = lr.predict(x_test)

In [57]:
x_test.head()

           Close
7844    0.000000
28853   2.880000
19029  25.440000
13131   0.006173
13989   0.005016

In [58]:
y_pre2[0:5]

array([[ 1.57285565],
       [ 4.41203127],
       [26.6522403 ],
       [ 1.57894115],
       [ 1.57780055]])

In [60]:
from sklearn.metrics import mean_squared_error#mean squared error

In [61]:
mse2 = mean_squared_error(x_test,y_pre2)

In [62]:
print(mse2)

5.285912811775775

In [63]:
import math

In [66]:
rmse2 = math.sqrt(mse2)#root mean squared error

In [67]:
print(rmse2)

2.299111309131373

# from the above two models it means that the 2nd model is better than 1st model because the Residual is minimal